@tailwind base;
@tailwind components;
@tailwind utilities;

.input { 
  @apply w-full border px-3 py-2 rounded-md bg-white;
}

.btn { 
  @apply px-4 py-2 rounded-md bg-sky-600 text-white inline-block; 
}
