@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply border rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-sky-500;
}

.btn {
  @apply bg-sky-600 text-white rounded-md px-4 py-2 hover:bg-sky-700 transition;
}

